.featuredItem-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  margin-left: 5%;
  z-index: 1;
  width: 90%;
}
.featuredItem-card {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.feature-line {
  height: 100%;
  width: 1px; /* Adjust the width as needed */
  background-color: #ddd; /* Adjust color as needed */
  margin: 0 10px; /* Add margin as needed */
}
.featureItem-card-left {
  width: 35%;
}
.featureItem-card-right {
  width: 65%;
}
.feature-label {
  color: #ffffff;
  text-align: left;
  display: inline;
  background-color: purple;
  width: 70px;
  height: 25px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 4px;
  font-size: 14px;
  position: absolute;
}
.feature-img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.feature-des {
  color: #555;
  line-height: 20px;
  margin-bottom: 20px;
}
.featureLike {
  position: absolute;
  left: 30%;
}

.featureLike .icon {
  width: 22px;
  height: 22px;
  fill: #cccccc;
  color: #555;
  cursor: pointer;
}
.featureLike.liked .icon {
  fill: #119744; /* Liked fill color */
  color: #ffffff; /* Liked text color */
}

.feature-rating {
  display: flex;
  justify-content: left;
  margin-top: 8px;
}

.feature-rating svg {
  color: #f8d828;
  margin-right: 4px;
  padding-bottom: 8px;
  font-size: 24px;
}

.feature-rating p {
  color: #555;
  font-size: 14px;
}

.feature-name {
  font-size: 20px;
  margin: 8px 0;
  text-align: left;
  color: #555;
  padding-bottom: 8px;
}

.feature-price {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  text-align: left;
  padding-bottom: 8px;
  font-weight: bold;
}

.feature-price .oldPrice {
  color: red;
  padding-right: 8px;
  text-decoration: line-through;
}

.feature-price .newPrice {
  color: #119744;
}

.featuredItem-card:hover .add-to-cart-icon > svg {
  background-color: #119744;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.featuredItem-card:hover .add-to-cart-icon {
  background-color: #119744;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.featuredItem-card:hover {
  border: 1px solid #119744;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.featuredItem-card:hover .viewIcon {
  display: block;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
@media (max-width: 1000px) {
  .featuredItem-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 900px) {
  .featuredItem-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .featuredItem-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-img {
    margin-top: 45px;
    object-fit: cover;
    border-radius: 8px;
  }
  .featureItem-card-left {
    width: 50%;
  }
  .featureItem-card-right {
    width: 50%;
  }
  .featureLike {
    position: absolute;
    left: 40%;
  }
}
@media (max-width: 400px) {
  .feature-des {
    display: none;
  }
  .feature-price {
    margin-bottom: 40px;
  }
}
