@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap");
* {
	font-family: "Rubik", sans-serif;
	box-sizing: border-box;
}
.terms {
	display: flex;
	flex-direction: column;
}

.privacy .privacy-title {
	position: fixed;
	display: flexbox;
	flex-direction: column;
	height: 10%;
	width: 100%;
	padding-left: 40px;
	z-index: auto;
	font-weight: normal;
}

.body-content {
	top: 10%;
	left: 3%;
}

.body-content .body-part ol {
	list-style: none;
	margin-bottom: 2rem;
}

.body-part {
	width: 100%;
	transition: all 0.5s;
}

.body-part a:hover {
	color: #119744;
}

.heading {
	padding-bottom: 0.75rem;
	display: inline-flex;
}

.pur {
	font-size: 1rem;
	line-height: 1.75rem;
	position: relative;
	display: flex;
	flex-direction: column;
}

p {
	line-height: 2;
}

.body-content {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 25%;
}

.body-content .body-part {
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	border: none;
}

.body-part a {
	text-decoration: none;
	color: black;
}

.terms .data {
	border: none;
	position: absolute;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

.data {
	left: 30%;
	border: 1px solid lightgray;
	width: 68%;
	height: 200%;
	display: block;
	flex-direction: column;
}

.data .collect ol {
	list-style: none;
	text-align: start;
}
@media (max-width: 575px) {
	.terms {
		width: 100%;
		/* height: 50%; */
	}
	.terms .privacy .privacy-title {
		position: relative;
		padding-bottom: 0;
	}
	.privacy .body-content {
		position: relative;
		display: inline;
		flex-direction: column;
	}
	.data {
		width: 95%;
		height: auto;
		top: 40%;
		padding-left: 50px;
		left: 0;
	}
}
