.productTitle {
  font-size: 50px;
  letter-spacing: 2px;
  color: #555;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
.product-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 30px 80px;
  z-index: 1;
}

.product-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.productLike {
  position: absolute;
  left: 85%;
}

.productLike .icon {
  width: 22px;
  height: 22px;
  fill: #cccccc;
  color: #555;
  cursor: pointer;
}
.productLike.liked .icon {
  fill: #119744; /* Liked fill color */
  color: #ffffff; /* Liked text color */
}

.sale-label,
.discount-label {
  color: #ffffff;
  text-align: left;
  display: block;
  background-color: #e86121;
  width: 50px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 4px;
  font-size: 14px;
}
.discount-label {
  background-color: red;
  margin-top: 30px;
}
.new-label {
  text-align: left;
  display: block;
  background-color: #119744;
  width: 50px;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
}

.sale-label.visible,
.new-label.visible {
  display: block;
}
.sale-label,
.new-label {
  opacity: 0;
}
.sale-label.visible,
.new-label.visible {
  opacity: 1;
}
.product-img {
  width: 100%;
  max-height: 140px;
  object-fit: cover;
  border-radius: 8px;
}
.product-line {
  border: 0.5px solid #f3f3f3; /* Set the color of the border */
  width: 80%; /* Set the desired length */
  margin: 20px auto; /* Optional: Center the hr element */
}

.product-rating {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.product-rating svg {
  color: #f8d828;
  margin-right: 4px;
  padding-bottom: 8px;
  font-size: 24px;
}
.product-rating p {
  color: #555;
  font-size: 14px;
}

.product-name {
  font-size: 20px;
  margin: 8px 0;
  text-align: center;
  color: #555;
  padding-bottom: 8px;
}

.product-price {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  text-align: center;
  padding-bottom: 8px;
  font-weight: bold;
}
.product-price .oldPrice {
  color: red;
  padding-right: 8px;
  text-decoration: line-through;
}
.product-price .newPrice {
  color: #119744;
}
.add-to-cart-icon svg {
  color: #555;
  padding-right: 4px;
  font-size: 18px;
}

.add-to-cart-icon {
  color: #555;
  background-color: #cccccc;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}
.viewIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: #119744;
  padding: 10px 12px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}
.product-card:hover .add-to-cart-icon > svg {
  background-color: #119744;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.product-card:hover .add-to-cart-icon {
  background-color: #119744;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.product-card:hover {
  border: 1px solid #119744;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.product-card:hover .viewIcon {
  display: block;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
/* Adjustments for smaller screens */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* --------------------------------------------------------------------------------------------------------------------------------------- */
.showMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.show-more-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid green;
  font-size: 16px;
  background-color: white;
  color: green;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: green;
    color: white;
  }
}

.showmore-icon {
  margin-right: 8px;
}
.homePage-imageBox {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
.homePage-imageBox2 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.homepage-image-1 {
  width: 80%;
  height: 100%;
  transition: transform 0.3s;
  object-fit: cover;
}


.homePage-imageBox:hover .homepage-image-1 {
  transform: scale(1.1); /* Adjust the scale factor based on your preference */
}
