* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f3f4f6;
  margin: 0;
  font-family: "Rubik", sans-serif;
  height: auto;
  width: 100%;
}
body p {
  margin-bottom: 0px;
}
label {
  display: inline;
}
